<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Agregar forma de Uso</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Nombre de Forma de uso</label>
                <input class="form-control" ng-model="formauso.formauso_name">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" ng-model="formauso.formauso_descripcion">
            </div>

            <a href="" class="btn btn-primary" ng-click="saveFormaUso()">agregar</a>
        </form>
    </div>
</div>